.App {
  display: flex;
  flex-direction: column;
}

.Title{
  flex:1;
  display: flex;
  background-color: blueviolet;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Data{
  background-color: blue;
  justify-content: center;
  display: flex;
  align-items: center;
}