.App {
  display: flex;
  height: 100vh;
  background-color: #fce8ea;
  flex-direction: column;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.TitleBox {
  display: flex;
  background-color: #F0DBA3;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
}

.TitleBox h1{
  font-Size:50px;
    margin-Top:15px;
    margin-Bottom:2px;
}

.TitleBox h3{
  font-Size:15px;
  align-Self:end;
  margin-Top:0px;
   margin-Bottom:20px
}

.TitleBox button{
  width: 180px;
  height: 50px;
  background-color: #eae7de;
  color: black;
  border-radius: 10px;
  border: none;
  border-width: 1px;
  border-color: #eae7de; 
  margin-bottom: 20px; 
  align-self: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}


.TitleBox button:hover{
  border-color: black;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.TitleBox button:active{
  background-color: #dbd8d0;
}

.InfoCell {
  display:flex;
  flex-direction:row;
  justify-content: flex-start;  
  align-items:center;

}
.InfoCell h3{
  font-size: 20px;
}
.InfoCell p{
  text-indent: 10px;
}

.Info{
  display:flex;
  flex-Direction:column;
  align-Self:flex-start;
  justify-Content:center;
  align-Items:flex-start
}

.PokemonInfoBox{
  width: 590px;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;

}

.BottomCenterContainer{
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.PokemonIMG{
  width: 300px;
  margin-right: 50px;
}